/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}
a{
	text-decoration: none;
	color: black;
}
.header-black{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	margin: 0;
}
.fa-pen-to-square{
    height: 22px;
    align-content: center;
    padding-right: 10px;
	padding-left: 15px;
}
.displaynone{
	display: none;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	font-weight: 900;
}
.IG_icon{
	height: 22px;
	width: 22px;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	width: 30em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 4em;
}
.title-portfolio-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.portfolio-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 6.5em;
}
.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
	align-content: center;
    align-items: center;
    justify-content: center;
}
.modal-wrapper{
    background-color: white;
    width: 630px;
	height: 700px;
    border-radius: 10px;
    padding: 20px;
    max-width: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    overflow: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.js-modal-close{
	background-color: white;
	font-size: 24px;
	border: none;
	position: absolute;  
    top: 0;             
    right: 0; 
	padding-top: 30px;
	padding-right: 30px; 
}
button{
	border: none;
	background-color: white;
}
.fa-arrow-left{
	background-color: white;
	font-size: 24px;
	border: none;
	position: absolute;  
    top: 30px;             
    left: 30px; 
}
.modal-title{
	font-size: 26px;
	text-align: center;
	padding-top: 80px;
	margin-bottom: 80px;
}
hr{
	background-color: #B3B3B3;
	border-style: solid;
	height: 1px;
	width: 420px;
	margin: 60px;
}
.fa-image{
	font-size: 76px;
    color: #B9C5CC;
    text-align: center;
	padding: 20px;
	margin-bottom: 0px;
}
.info-upload{
	margin: auto;
	padding: 10px;
	margin-top: 0px;
	margin-bottom: 60px;
	font-size: 10px;
}
.choose-photo-button{
	width: 45%;
	background-color: #CBD6DC;
	margin: auto;
	height: 36px;
	border-radius: 50px;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	align-content: center;
	justify-content: center;
	display: flex;
	font-size: 14px;
	color: #306685;
}
.gallery-modal-container {
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.image-container{
	position: relative;
	display: flex;
}
.thumbnail {
	width: 76px;
	height: 102px; 
	object-fit: cover; 
}
.fa-trash-can{
	position: absolute;
	top: 8px;
	right: 8px;
	color: white;
	background-color: black;
	font-size: 13px;
	width: 17px;
	height: 17px;
	padding: 1px;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.button-add-photo{
	color: white;
	background-color: #1D6154;
	border-radius: 60px;
	padding: 10px;
	margin: 20px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-bottom: 50px;
	width: 35%;
}
.button-valider{
	color: white;
	background-color: #A7A7A7;
	border-radius: 60px;
	padding: 10px;
	margin: 20px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	margin-bottom: 50px;
	width: 35%;
}
.add-photo-rectangle{
	background-color: #E8F1F6;
	height: 220px;
	width: 420px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	margin-bottom: 30px;
}
#photo-preview-container{
	background-color: #E8F1F6;
	height: 220px;
	width: 420px;
	border-radius: 3px;
	display: flex;
	justify-items: center;
	margin-bottom: 30px;
}
#TitleNewPhoto{
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	width: 420px;
	height: 51px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
}
#categoriesNewPhoto{
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	background-color: #FFFFFF;
	width: 420px;
	height: 51px;
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right: 8px solid transparent;
}
.form-add-photo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
figcaption{
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 5px;
}
.gallery img {
	width: 100%;
}
.filters{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.filters button{
	height: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: #FFFEF8;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 60px;
	}
.filters button:hover{
		color: white;
		background-color: #1D6154;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	}
input[type="submit"]:hover{
	background-color: black;
}
footer{
	position: absolute;
	background-color: white;
	left: 0; 
	right: 0; 
	margin: 0;
	width: 100%;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

